@using MooBookopedia.Data.ViewModels;
@model AddBookVM;

@{
    ViewData["Title"] = "Dodaj książkę";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Dodaj książkę</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-success">
                <span><b>Błąd!</b> - @TempData["Error"] </span>
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="col-md-12 alert alert-success">
                <span><b>Sukces!</b> - @TempData["Success"] </span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="AddBook">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Director" class="control-label"></label>
                        <input asp-for="Director" class="form-control" />
                        <span asp-validation-for="Director" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" placeholder="2023" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageLink" class="control-label"></label>
                        <input asp-for="ImageLink" class="form-control" />
                        <span asp-validation-for="ImageLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Desctiption" class="control-label"></label>
                        <textarea class="form-control" asp-for="Desctiption"></textarea>
                        <span asp-validation-for="Desctiption" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 mb-5">
                        <input class="btn btn-outline-success float-right" type="submit" value="Dodaj" />
                        <a class="btn btn-outline-secondary" asp-controller="Books" asp-action="AddBook">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>