@{
    ViewData["Title"] = "Autorzy";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li><p>Paweł Oparczyk</p></li>
    <li><p>Denis Poczęty</p></li>
    <li><p>Łukasz Pyszny</p></li>
    <li><p>Bartosz Smolarz</p></li>
</ul>




