@{
    ViewData["Title"] = "Strona główna";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Witamy na MooBookopedii!</h1>
        <h3 class="fw-normal text-muted mb-3">Wyświetlaj i rozszerzaj naszą bibliotekę o swoje ulubione filmy i książki</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal"></div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark col-lg-6 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Lista filmów</h2>
            <p class="lead"><a href="@Url.Action("Index", "Movies")">Przejdź do listy</a></p>
        </div>
    </div>
    <div class="bg-body-tertiary col-lg-6 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Lista książek</h2>
            <p class="lead"><a href="@Url.Action("Index", "Books")">Przejdź do listy</a></p>
        </div>
    </div>
</div>