@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 >
    Tytuł filmu (Rok produkcji)
</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <h3>
            Reżyser
        </h3>
        <hr />
        <p>
            Lorem Ipsum
        </p>
        <h3>
            Aktorzy
        </h3>
        <hr />
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non magna sed tortor venenatis ultrices. 
        Etiam ac nisi eget quam tincidunt maximus. Etiam nec diam ornare, vehicula purus in, mattis elit. Curabitur
        dictum ipsum et dolor luctus consectetur. Aenean vulputate venenatis fermentum.
        </p>
    </div>
    <div class="col-md-2">
        <img src="https://fwcdn.pl/fpo/64/10/786410/7799357.3.jpg" class="img-fluid" runat="server" alt="Jeśli to widzisz to znaczy że się zdjęcie nie załadowało." />
            <p class="text-center border border-primary mb-0">Tytuł filmu</p>
    </div>
</div>
<h3>
    Opis filmu?
</h3>
<hr />
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est urna, tristique vel tortor at, ornare tincidunt ante. Nullam in maximus purus. In est ipsum,
dictum eu elit vitae, vehicula ullamcorper felis. Maecenas congue augue at est pellentesque convallis. Aliquam vestibulum mollis tellus, quis tincidunt arcu ultrices at.
Ut nec lorem quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In blandit fermentum lectus, vitae semper elit pretium sit amet. 
Proin sed euismod justo, id faucibus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla congue ex, sit amet pretium turpis posuere vel. Sed varius elementum aliquet. 
Pellentesque interdum felis lectus, vitae gravida risus placerat non. Duis id lectus sit amet nisl interdum tempus eu eget arcu.
</p>
<h3>
    Może coś jeszcze
</h3>